*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    background-color:#21ffe1 ;
}

#container{
    width: 40%;
    background: white;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
}

#chat_box{
    width: 90%;
    height: 400px;
    overflow: hidden;

}
input[type='text'], input[type='submit'],textarea{
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
}

#chat-data{
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid silver;
    font-weight: bold;
    overflow: hidden;
}

#chat-data span:nth-child(1){
    color: green;
}


#chat-data span:nth-child(2){
    color: rebeccapurple;
}

#chat-data span:nth-child(3){
    color: blue;
    float: right;
    clear: both;
}